:root {
  --background-color-light: #FFF;
  --background-color-dark: #212121;
}

@media screen and (max-width: 767px) {
    input, select, textarea {
      font-size: 16px;
    }
    nav {
      position: absolute;
      bottom: 0px;
    }
  }

  /* @media screen and (prefers-color-scheme: dark){
    input, body, header {
      background-color: var(--background-color-dark);
      color: rgba(255,255,255,0.7);
    }
  }

  @media screen and (prefers-color-scheme: light){
    input, body, header {
      background-color: var(--background-color-light);
    }
  } */

  html, body {
    margin: auto;
    padding: 0;
  }

  
    .container {
      display: flex;
      flex-direction: column;
      flex-wrap: nowrap;
  }
  
  header {
    position: sticky;
    padding-top: env(safe-area-inset-top,0.3rem);
    top: 0;
    flex-shrink: 0;
    margin: 2rem 1rem;
    background-color: var(--background-color-light);
  }
  
  .body{
    background-color: var(--background-color-light);
      flex-grow: 1;
      overflow: auto;
      min-height: 2em;
      width: 80%;
      margin: auto;
      -ms-overflow-style: none;  /* IE and Edge */
      scrollbar-width: none;  /* Firefox */
  }

  .body::-webkit-scrollbar {
    display: none;
  }
  
  
  .heading {
    text-align: center;
    /* color:#000; */
    font-family: 'Faustina';
    font-size: 30pt;
    font-style: italic;
    padding: 1rem 1rem;
  }
  
  .sign-search {
    width: 80%;
    margin: auto;
  }
  
  input {
    background-color: var(--background-color-light);
    border-radius: 2rem;
    width: 100%;
    /* height: 1rem; */
    padding: 0.5rem;
    border: 1px solid black;
  }


.sign {
    display: block;
    text-align: left;
    border-radius: 1em;
    padding: 0.5rem;
    -webkit-box-shadow: 5px 5px 15px -8px #000000; 
    box-shadow: 5px 5px 15px -8px rgba(80,80,80,0.3);
}

@media(hover: hover) and (pointer: fine){
  .sign:hover {
    background-color: rgba(80,80,80,0.3);
    text-decoration: underline;
  }

}
.sign-phrase {
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: 1.1rem;
  padding: 0.5rem 0;
}

.sign-phrase>a {
  font-style: normal !important;
}

.addToListIcon {
  float: right;
}

.addToListIcon:hover {
  cursor: pointer;
}

.search-results {
  /* width: 90vw;
  margin: auto; */
  padding: 0 1rem;
}

a {
  padding-right: 0.5rem;
  color: inherit;
  font-style: italic;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}


.sign-collections {
  float: right;
}