@media screen and (max-width: 767px) {
    input, select, textarea {
      font-size: 16px;
    }
    nav {
      position: absolute;
      bottom: 0px;
    }
  }
    html, body {
      margin: auto;
      padding: 0;
      /* max-width: 95vw;
      max-height:100vh; */
      /* background-color: #fff; */
    }

  
    .container {
      /* width: 100%;
      height: 100%; */
      display: flex;
      flex-direction: column;
      flex-wrap: nowrap;
  }
  
  header {
    position: sticky;
    background-color: white;
    top: 0;
    /* width: 100%; */
    flex-shrink: 0;
    margin: 2rem 1rem;
  }
  
  .body{
      flex-grow: 1;
      overflow: auto;
      min-height: 2em;
      width: 80%;
      margin: auto;
      -ms-overflow-style: none;  /* IE and Edge */
      scrollbar-width: none;  /* Firefox */
  }

  .body::-webkit-scrollbar {
    display: none;
  }
  
  
  .heading {
    text-align: center;
    /* color: rgba(255,255,255,0.9); */
    color:#000;
    font-family: 'Faustina';
    font-size: 30pt;
    font-style: italic;
    padding: 1rem 1rem;
  }
  
  .sign-search {
    width: 80%;
    margin: auto;
  }
  
  input {
    border-radius: 2rem;
    width: 100%;
    height: 1rem;
    padding: 0.5rem;
  }


.sign {
    display: block;
    /* padding: 0.5rem 0.5rem;
    margin-bottom: 0.5rem; */
    text-align: left;
    /* background-color: rgba(180,80,80,0.4); */
    border-radius: 1em;
    padding: 0.5rem;
    -webkit-box-shadow: 5px 5px 15px -8px #000000; 
  box-shadow: 5px 5px 15px -8px rgba(80,80,80,0.3);
}

.sign:hover {
  background-color: rgba(80,80,80,0.3);
}
.sign-phrase {
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: 1.1rem;
  padding: 0.5rem 0;
}

.sign-phrase>a {
  font-style: normal !important;
}

.search-results {
  width: 90vw;
  margin: auto;
}

a {
  padding-right: 0.5rem;
  color: black;
  font-style: italic;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}


.sign-collections {
  float: right;
}

